<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>alert</title>
</head>

<body>
	<div id="preloader">
		<div class="canvas">
			<div class="spinner"></div>
		</div>
	</div>

	<div class="page">
		<!-- Begin Page Content -->
		<div class="page-content d-flex align-items-stretch">
			<div class="container-fluid">
				<!-- Begin Page Header-->
				<div class="row">
					<div class="page-header">
						<div class="d-flex align-items-center">
							<h2 class="page-header-title">Alerts</h2>
							<div>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="#"><i class="ti ti-home"></i></a></li>
									<li class="breadcrumb-item"><a href="#">Components</a></li>
									<li class="breadcrumb-item active">Alerts</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- End Page Header -->
				<div class="row flex-row">
					<div class="col-xl-6">
						<!-- Basic Alerts -->
						<div class="widget has-shadow">
							<div class="widget-body">
								<p>弹出提示信息</p>
								<div class="form-group">
									<button type="button" class="btn btn-success mr-1 mb-2" id="msgSuccess">Success</button>
									<button type="button" class="btn btn-info mr-1 mb-2" id="msgAlert">Alert</button>
									<button type="button" class="btn btn-warning mr-1 mb-2" id="msgWarning">Warning</button>
									<button type="button" class="btn btn-danger mr-1 mb-2" id="msgDanger">Danger</button>
								</div>
							</div>
						</div>
						<!-- End Basic Alerts -->
					</div>
				</div>
				<!-- End Row -->
			</div>
		</div>
		<!-- End Page Content -->
	</div>
</body>

</html>