<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>button</title>
</head>
<body>
	<div id="preloader">
		<div class="canvas">
			<div class="spinner"></div>
		</div>
	</div>

	<div class="page">
		<!-- Begin Page Content -->
		<div class="page-content d-flex align-items-stretch">
			<!-- End Left Sidebar -->
				<div class="container-fluid">
					<!-- Begin Page Header-->
					<div class="row">
						<div class="page-header">
							<div class="d-flex align-items-center">
								<h2 class="page-header-title">Buttons</h2>
								<div>
									<ul class="breadcrumb">
										<li class="breadcrumb-item"><a href="db-default.html"><i class="ti ti-home"></i></a></li>
										<li class="breadcrumb-item"><a href="#">Components</a></li>
										<li class="breadcrumb-item active">Buttons</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- End Page Header -->
					<div class="row flex-row">
						<div class="col-xl-6">
							<!-- Basic Buttons -->
							<div class="widget has-shadow">
								<div class="widget-header bordered no-actions d-flex align-items-center">
									<h4>Basic Buttons</h4>
								</div>
								<div class="widget-body">
									<div class="form-group">
										<button type="button" class="btn btn-primary mr-1 mb-2">Primary</button>
										<button type="button" class="btn btn-secondary mr-1 mb-2">Secondary</button>
										<button type="button" class="btn btn-success mr-1 mb-2">Success</button>
										<button type="button" class="btn btn-info mr-1 mb-2">Info</button>
										<button type="button" class="btn btn-warning mr-1 mb-2">Warning</button>
										<button type="button" class="btn btn-danger mr-1 mb-2">Danger</button>
									</div>
								</div>
							</div>
							<!-- End Basic Buttons -->
						</div>
						<div class="col-xl-6">
							<!-- Basic Buttons -->
							<div class="widget has-shadow">
								<div class="widget-header bordered no-actions d-flex align-items-center">
									<h4>Ripple Effect</h4>
								</div>
								<div class="widget-body">
									<div class="form-group">
										<button type="button" class="btn btn-primary ripple mr-1 mb-2">Primary</button>
										<button type="button" class="btn btn-secondary ripple mr-1 mb-2">Secondary</button>
										<button type="button" class="btn btn-success ripple mr-1 mb-2">Success</button>
										<button type="button" class="btn btn-info ripple mr-1 mb-2">Info</button>
										<button type="button" class="btn btn-warning ripple mr-1 mb-2">Warning</button>
										<button type="button" class="btn btn-danger ripple mr-1 mb-2">Danger</button>
									</div>
								</div>
							</div>
							<!-- End Basic Buttons -->
						</div>
						<div class="col-xl-6">
							<!-- Outline Buttons -->
							<div class="widget has-shadow">
								<div class="widget-header bordered no-actions d-flex align-items-center">
									<h4>Outline Buttons</h4>
								</div>
								<div class="widget-body">
									<div class="form-group">
										<button type="button" class="btn btn-outline-primary mr-1 mb-2">Primary</button>
										<button type="button" class="btn btn-outline-secondary mr-1 mb-2">Secondary</button>
										<button type="button" class="btn btn-outline-success mr-1 mb-2">Success</button>
										<button type="button" class="btn btn-outline-info mr-1 mb-2">Info</button>
										<button type="button" class="btn btn-outline-warning mr-1 mb-2">Warning</button>
										<button type="button" class="btn btn-outline-danger mr-1 mb-2">Danger</button>
									</div>
								</div>
							</div>
							<!-- End Outline Buttons -->
						</div>
						<div class="col-xl-6">
							<!-- Elisyam Buttons -->
							<div class="widget has-shadow">
								<div class="widget-header bordered no-actions d-flex align-items-center">
									<h4>Elisyam Buttons</h4>
								</div>
								<div class="widget-body">
									<div class="form-group">
										<button type="button" class="btn btn-shadow mr-1 mb-2">Shadow</button>
										<button type="button" class="btn btn-gradient-01 mr-1 mb-2">Gradient 01</button>
										<button type="button" class="btn btn-gradient-02 mr-1 mb-2">Gradient 02</button>
										<button type="button" class="btn btn-gradient-03 mr-1 mb-2">Gradient 03</button>
										<button type="button" class="btn btn-gradient-04 mr-1 mb-2">Gradient 04</button>
										<button type="button" class="btn btn-gradient-05 mr-1 mb-2">Gradient 05</button>
									</div>
								</div>
							</div>
							<!-- End Elisyam Buttons -->
						</div>
						<div class="col-xl-6">
							<!-- Square Buttons -->
							<div class="widget has-shadow">
								<div class="widget-header bordered no-actions d-flex align-items-center">
									<h4>Square Buttons</h4>
								</div>
								<div class="widget-body">
									<div class="form-group">
										<button type="button" class="btn btn-primary btn-square mr-1 mb-2">Primary</button>
										<button type="button" class="btn btn-secondary btn-square mr-1 mb-2">Secondary</button>
										<button type="button" class="btn btn-success btn-square mr-1 mb-2">Success</button>
										<button type="button" class="btn btn-info btn-square mr-1 mb-2">Info</button>
										<button type="button" class="btn btn-warning btn-square mr-1 mb-2">Warning</button>
										<button type="button" class="btn btn-danger btn-square mr-1 mb-2">Danger</button>
									</div>
								</div>
							</div>
							<!-- End Square Buttons -->
						</div>
						<div class="col-xl-6">
							<!-- Buttons Group -->
							<div class="widget has-shadow">
								<div class="widget-header bordered no-actions d-flex align-items-center">
									<h4>Buttons Group</h4>
								</div>
								<div class="widget-body">
									<div class="form-group">
										<div class="btn-group" role="group" aria-label="Buttons Group">
											<button type="button" class="btn btn-primary mb-2">Primary</button>
											<button type="button" class="btn btn-secondary mb-2">Secondary</button>
											<button type="button" class="btn btn-success mb-2">Success</button>
											<button type="button" class="btn btn-info mb-2">Info</button>
											<button type="button" class="btn btn-warning mb-2">Warning</button>
											<button type="button" class="btn btn-danger mb-2">Danger</button>
										</div>
									</div>
								</div>
							</div>
							<!-- End Buttons Group -->
						</div>
						<div class="col-xl-6">
							<!-- Buttons With Icons -->
							<div class="widget has-shadow">
								<div class="widget-header bordered no-actions d-flex align-items-center">
									<h4>With Icons</h4>
								</div>
								<div class="widget-body">
									<div class="form-group">
										<button type="button" class="btn btn-primary mr-1 mb-2"><i class="la la-pencil"></i>Primary</button>
										<button type="button" class="btn btn-secondary mr-1 mb-2"><i class="la la-rocket"></i>Secondary</button>
										<button type="button" class="btn btn-success mr-1 mb-2"><i class="la la-check"></i>Success</button>
										<button type="button" class="btn btn-info mr-1 mb-2"><i class="la la-question-circle"></i>Info</button>
										<button type="button" class="btn btn-warning mr-1 mb-2"><i class="la la-exclamation-triangle"></i>Warning</button>
										<button type="button" class="btn btn-danger mr-1 mb-2"><i class="la la-ban"></i>Danger</button>
									</div>
								</div>
							</div>
							<!-- End Buttons With Icons -->
						</div>
						<div class="col-xl-6">
							<!-- Dropdown Buttons -->
							<div class="widget has-shadow">
								<div class="widget-header bordered no-actions d-flex align-items-center">
									<h4>Dropdown Buttons</h4>
								</div>
								<div class="widget-body">
									<div class="form-group">
										<div class="btn-group mr-1 mb-2">
											<button type="button" class="btn btn-primary">Primary</button>
											<a class="btn btn-primary dropdown-toggle d-flex align-items-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												<i class="la la-angle-down mr-0"></i>
											</a>
											<div class="dropdown-menu">
												<a class="dropdown-item" href="#">Action</a>
												<a class="dropdown-item" href="#">Another action</a>
												<a class="dropdown-item" href="#">Something else here</a>
												<div class="dropdown-divider"></div>
												<a class="dropdown-item" href="#">Separated link</a>
											</div>
										</div>
										<div class="btn-group mr-1 mb-2">
											<button type="button" class="btn btn-secondary">Secondary</button>
											<a class="btn btn-secondary dropdown-toggle d-flex align-items-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												<i class="la la-angle-down mr-0"></i>
											</a>
											<div class="dropdown-menu">
												<a class="dropdown-item" href="#">Action</a>
												<a class="dropdown-item" href="#">Another action</a>
												<a class="dropdown-item" href="#">Something else here</a>
												<div class="dropdown-divider"></div>
												<a class="dropdown-item" href="#">Separated link</a>
											</div>
										</div>
										<div class="btn-group mr-1 mb-2">
											<button type="button" class="btn btn-success">Success</button>
											<a class="btn btn-success dropdown-toggle d-flex align-items-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												<i class="la la-angle-down mr-0"></i>
											</a>
											<div class="dropdown-menu">
												<a class="dropdown-item" href="#">Action</a>
												<a class="dropdown-item" href="#">Another action</a>
												<a class="dropdown-item" href="#">Something else here</a>
												<div class="dropdown-divider"></div>
												<a class="dropdown-item" href="#">Separated link</a>
											</div>
										</div>
										<div class="btn-group mr-1 mb-2">
											<button type="button" class="btn btn-info">Info</button>
											<a class="btn btn-info dropdown-toggle d-flex align-items-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												<i class="la la-angle-down mr-0"></i>
											</a>
											<div class="dropdown-menu">
												<a class="dropdown-item" href="#">Action</a>
												<a class="dropdown-item" href="#">Another action</a>
												<a class="dropdown-item" href="#">Something else here</a>
												<div class="dropdown-divider"></div>
												<a class="dropdown-item" href="#">Separated link</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- End Dropdown Buttons -->
						</div>
						<div class="col-xl-6">
							<!-- Block Buttons -->
							<div class="widget has-shadow">
								<div class="widget-header bordered no-actions d-flex align-items-center">
									<h4>Block Buttons</h4>
								</div>
								<div class="widget-body">
									<div class="row">
										<div class="col-xl-6">
											<button id="goHome" type="button" class="btn btn-primary btn-block mb-2">Primary</button>
										</div>
										<div class="col-xl-6">
											<button type="button" class="btn btn-shadow btn-block mb-2">Shadow</button>
										</div>
									</div>
								</div>
							</div>
							<!-- End Block Buttons -->
						</div>
						<div class="col-xl-6">
							<!-- Buttons Sizes -->
							<div class="widget has-shadow">
								<div class="widget-header bordered no-actions d-flex align-items-center">
									<h4>Buttons Size</h4>
								</div>
								<div class="widget-body">
									<button type="button" class="btn btn-primary btn-lg mr-1 mb-2">Large Button</button>
									<button type="button" class="btn btn-success mr-1 mb-2">Medium Button</button>
									<button type="button" class="btn btn-warning btn-sm mr-1 mb-2">Small Button</button>
								</div>
							</div>
							<!-- End Buttons Sizes -->
						</div>
					</div>
					<!-- End Row -->
				</div>
		</div>
		<!-- End Page Content -->
	</div>
</body>
</html>